In [1]:
# Code to Generate DataFrame

In [2]:
import os
import pandas as pd
from sklearn.model_selection import train_test_split

In [3]:
# replace path with path of stored files
path = "C:\\Users\\black\\OneDrive\\Desktop\\Sleep Project Files"

# number of patients to use
count = 10 
files = []

for i in os.listdir(path):
    if count > 0:
        files.append(i)
        count=count-1
    else:
        break

In [4]:
print(files)

['Data_0.csv', 'Data_1.csv', 'Data_10.csv', 'Data_11.csv', 'Data_12.csv', 'Data_13.csv', 'Data_14.csv', 'Data_15.csv', 'Data_16.csv', 'Data_17.csv']

In [5]:
# percentage of samples to use
sample_size = 0.6

mixed_df = pd.DataFrame()

for i in files:
    file_path = path+'\\'+i
    #print(file_path)
    
    df = pd.read_csv(file_path,low_memory=False)
    
    if 'Movement time' in df['target'].values:
        df = df.replace('Movement time',6)
    
    #Proportionate Stratified Random Sampling
    df = df.groupby('target',group_keys=False).apply(lambda x: x.sample(frac=sample_size))
    mixed_df = pd.concat([mixed_df,df])

In [8]:
display(df)

             time  target     Fpz-Cz      Pz-Oz  horizontal     submental
1163993  11639.93       0 -49.724786   9.862027  -30.822222  3.395416e-06
7418967  74189.67       0 -19.991697 -38.630281   -6.257143  2.147777e-06
5561578  55615.78       0 -21.701587  -2.838339  -29.431746 -5.973341e-07
2089193  20891.93       0 -17.141880   2.742125   36.847619  3.411912e-06
6104281  61042.81       0  10.216361 -24.294261   85.977778  1.366846e-06
...           ...     ...        ...        ...         ...           ...
5045053  50450.53       5 -15.242002  -6.013431   13.673016 -6.667596e-07
4093494  40934.94       5 -45.070085  28.431502   43.336508 -6.011397e-07
3487569  34875.69       5 -13.342125   5.917216  -34.530159 -5.338480e-07
4090609  40906.09       5  -4.032723   2.164835    0.231746 -6.184008e-07
5228915  52289.15       5  -8.402442 -17.078144  -49.825397 -6.643850e-07

[4741200 rows x 6 columns]

In [6]:
display(mixed_df)

             time target     Fpz-Cz      Pz-Oz  horizontal     submental
2239063  22390.63      0  -3.797802  -1.507692  103.733578  3.301868e-06
984116    9841.16      0 -18.520147   5.018315   -2.710379  3.410561e-06
38032      380.32      0   8.392674  -1.987546  -64.802686  3.251018e-06
2057781  20577.81      0 -42.057143  18.454212   38.684493  3.345442e-06
809550    8095.50      0  -3.235165  10.968498  153.013187  3.427344e-06
...           ...    ...        ...        ...         ...           ...
5045053  50450.53      5 -15.242002  -6.013431   13.673016 -6.667596e-07
4093494  40934.94      5 -45.070085  28.431502   43.336508 -6.011397e-07
3487569  34875.69      5 -13.342125   5.917216  -34.530159 -5.338480e-07
4090609  40906.09      5  -4.032723   2.164835    0.231746 -6.184008e-07
5228915  52289.15      5  -8.402442 -17.078144  -49.825397 -6.643850e-07

[49712400 rows x 6 columns]

In [9]:
X = mixed_df.drop('target', axis = 1)
display(X)

             time     Fpz-Cz      Pz-Oz  horizontal     submental
2239063  22390.63  -3.797802  -1.507692  103.733578  3.301868e-06
984116    9841.16 -18.520147   5.018315   -2.710379  3.410561e-06
38032      380.32   8.392674  -1.987546  -64.802686  3.251018e-06
2057781  20577.81 -42.057143  18.454212   38.684493  3.345442e-06
809550    8095.50  -3.235165  10.968498  153.013187  3.427344e-06
...           ...        ...        ...         ...           ...
5045053  50450.53 -15.242002  -6.013431   13.673016 -6.667596e-07
4093494  40934.94 -45.070085  28.431502   43.336508 -6.011397e-07
3487569  34875.69 -13.342125   5.917216  -34.530159 -5.338480e-07
4090609  40906.09  -4.032723   2.164835    0.231746 -6.184008e-07
5228915  52289.15  -8.402442 -17.078144  -49.825397 -6.643850e-07

[49712400 rows x 5 columns]

In [10]:
y = mixed_df['target']

y = y.astype('int64')

display(y)

2239063    0
984116     0
38032      0
2057781    0
809550     0
          ..
5045053    5
4093494    5
3487569    5
4090609    5
5228915    5
Name: target, Length: 49712400, dtype: int64

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)